@charset "UTF-8";
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "“" "”" "‘" "’";
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: initial;
}
a:focus,
a:focus-visible,
input:focus,
input:focus-visible,
select:focus,
select:focus-visible {
  outline: 0;
}
@-webkit-keyframes pointing {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes pointing {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes pointing {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.header {
  padding: 15px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 900px) {
  .header {
    padding: 15px;
  }
}
.header .header-m {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header-m .logo {
  width: 200px;
  display: block;
  position: relative;
  z-index: 1;
}
.header .header-m .ham {
  width: 30px;
  height: 20px;
  position: absolute;
  right: 36px;
  top: 25px;
  z-index: 4;
}
.header .header-m .ham .ham-nav {
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5px;
}
.header .header-m .ham .ham-top {
  top: 0;
}
.header .header-m .ham .ham-mid {
  top: 9px;
}
.header .header-m .ham .ham-bot {
  bottom: 0;
}
.header .header-m .ham.active > .ham-mid {
  display: none;
}
.header .header-m .ham.active > .ham-top {
  top: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.header .header-m .ham.active > .ham-bot {
  width: 100%;
  top: 10px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #634ea5;
  z-index: 999;
}
@media (max-width: 992px) {
  .header.fixed {
    background-color: #453479;
    height: 66px;
  }
}
.header .header-d .logo {
  width: 161px;
}
.header .header-d .headerList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
}
.header .header-d .headerList a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.header .header-d .headerList li {
  position: relative;
  background-repeat: no-repeat;
  background-position: left top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0 30px;
  border-width: 0 0 0 2px;
  border-color: #fff;
  border-style: solid;
}
.header .header-d .headerList li:last-of-type {
  border-width: 0 2px;
}
.ham-content {
  background-color: #453479;
  padding: 0 36px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 1000;
}
.ham-content .logo {
  width: 100px;
  padding-top: 20px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
.ham-content .ham {
  width: 30px;
  height: 60px;
  position: relative;
  z-index: 4;
}
.ham-content .ham .ham-nav {
  height: 3px;
  left: 0;
  top: 35px;
  background-color: #fff;
  position: absolute;
}
.ham-content .ham .ham-top {
  width: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.ham-content .ham .ham-bot {
  width: 100%;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}
.ham-content .hamList {
  text-align: center;
  padding-top: 93px;
}
.ham-content .hamList li {
  margin-bottom: 30px;
}
.ham-content .hamList li a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
@media (min-width: 992px) {
  .header {
    z-index: 1;
  }
}
.footer {
  background-color: #234961;
  padding: 30px 15px;
  font-size: 16px;
  line-height: 2;
}
@media (min-width: 992px) {
  .footer .container {
    max-width: 754px;
  }
}
.footer .logo {
  width: 213px;
  display: block;
}
@media (max-width: 992px) {
  .footer .logo {
    margin: 20px auto 20px 0;
  }
}
.footer .footer-line {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footer .footer-line {
    margin: 20px 0 30px;
  }
}
.footer .txt {
  font-size: 12px;
}
.gotop {
  position: fixed;
  width: 64px;
  z-index: 1;
  right: 15px;
  bottom: 30px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .gotop {
    right: 50px;
  }
}
.section-kv {
  position: relative;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .section-kv {
    background-image: url("../img/kv/kv-m.png");
    background-position: center top;
    background-size: 157%;
    padding-top: 110%;
  }
}
@media (min-width: 992px) {
  .section-kv {
    background-color: #453479;
  }
}
.section-kv .kv-d {
  width: 820px;
  position: relative;
  margin: 0 auto;
}
.section-kv .kv-d .el {
  position: absolute;
}
.section-kv .kv-d .kv {
  left: 22px;
  top: 0;
}
.section-kv .kv-d .kv2 {
  left: 52px;
  top: 242px;
}
.section-kv .kv-d .ppl1 {
  top: 248px;
  right: 894px;
}
.section-kv .kv-d .ppl2 {
  top: 202px;
  right: 859px;
}
.section-kv .kv-d .ppl3 {
  top: 245px;
  right: 791px;
}
.section-kv .kv-d .ppl4 {
  top: 95px;
  left: 766px;
}
.section-kv .kv-d .ppl5 {
  top: 82px;
  left: 831px;
}
.section-quiz {
  padding: 50px 15px;
}
@media (min-width: 992px) {
  .section-quiz {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.section-quiz.purple-dark {
  background-color: #453479;
}
.section-quiz.purple-light {
  background-color: #6c5b9f;
}
.section-quiz .square {
  margin: 0 auto;
  display: block;
  position: relative;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 35px 20px;
}
@media (min-width: 992px) {
  .section-quiz .square {
    width: 918px;
    height: 696px;
    padding: 44px 56px;
  }
}
.section-quiz .square .quiz-title {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-title {
    width: 540px;
  }
}
.section-quiz .square .quiz-question {
  position: relative;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-question {
    width: 603px;
    margin: 0 auto 5px;
  }
}
.section-quiz .square .quiz-question .question-img {
  width: 100%;
  display: block;
}
.section-quiz .square .quiz-question .quiz-txt {
  position: absolute;
  left: 12%;
  top: 50%;
  -webkit-transform: translateY(-60%);
  transform: translateY(-60%);
  z-index: 1;
  font-size: 4.2vw;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-question .quiz-txt {
    font-size: 24px;
    left: 74px;
    -webkit-transform: translateY(-74%);
    transform: translateY(-74%);
    letter-spacing: 5px;
  }
}
.section-quiz .square .quiz-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-options {
    width: 534px;
    margin: 0 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.section-quiz .square .quiz-options .quiz-option {
  width: 50%;
  margin-bottom: 30px;
  position: relative;
  font-size: 5vw;
  padding-left: 46px;
  text-align: left;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-options .quiz-option {
    font-size: 49px;
    padding-left: 80px;
    margin-bottom: 60px;
    width: calc(50% - 35px);
  }
}
.section-quiz .square .quiz-options .quiz-option:before {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url("../img/quiz/option_a.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  -webkit-filter: drop-shadow(2px 4px 6px black);
  filter: drop-shadow(2px 4px 6px black);
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-options .quiz-option:before {
    width: 64px;
    height: 64px;
  }
}
.section-quiz .square .quiz-options .quiz-option .location {
  background-color: #fff;
  color: #000;
  font-size: 12px;
  text-align: center;
  margin-bottom: 3px;
  width: 50%;
  padding: 2px 0;
}
@media (min-width: 992px) {
  .section-quiz .square .quiz-options .quiz-option .location {
    width: 100%;
    font-size: 18px;
  }
}
.section-quiz .square .quiz-options .quiz-option:first-child:before {
  background-image: url("../img/quiz/option_a.png");
}
.section-quiz
  .square
  .quiz-options
  .quiz-option:first-child.selected-option:before,
.section-quiz .square .quiz-options .quiz-option:first-child:hover:before {
  background-image: url("../img/quiz/option_a_hover.png");
}
.section-quiz .square .quiz-options .quiz-option:nth-child(2):before {
  background-image: url("../img/quiz/option_b.png");
}
.section-quiz
  .square
  .quiz-options
  .quiz-option:nth-child(2).selected-option:before,
.section-quiz .square .quiz-options .quiz-option:nth-child(2):hover:before {
  background-image: url("../img/quiz/option_b_hover.png");
}
.section-quiz .square .quiz-options .quiz-option:nth-child(3):before {
  background-image: url("../img/quiz/option_c.png");
}
.section-quiz
  .square
  .quiz-options
  .quiz-option:nth-child(3).selected-option:before,
.section-quiz .square .quiz-options .quiz-option:nth-child(3):hover:before {
  background-image: url("../img/quiz/option_c_hover.png");
}
.section-quiz .square .quiz-options .quiz-option:nth-child(4):before {
  background-image: url("../img/quiz/option_d.png");
}
.section-quiz
  .square
  .quiz-options
  .quiz-option:nth-child(4).selected-option:before,
.section-quiz .square .quiz-options .quiz-option:nth-child(4):hover:before {
  background-image: url("../img/quiz/option_d_hover.png");
}
@media (min-width: 992px) {
  .section-quiz .square .confirm-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 100px;
  }
}
.section-quiz .square .dialog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
}
@media (min-width: 992px) {
  .section-quiz .square .dialog-wrap {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}
.section-quiz .square .dialog-wrap .dialog {
  position: absolute;
  width: 80px;
  right: 150px;
  top: -106%;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: rotate(-55deg);
  transform: rotate(-55deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
.section-quiz .square .dialog-wrap .dialog.active {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  opacity: 1;
}
@media (min-width: 992px) {
  .section-quiz .square .dialog-wrap .dialog {
    right: auto;
    left: -119px;
    width: 133px;
    top: -133px;
  }
}
.section-quiz .square .btn-confirm {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 30px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  background-color: #e13225;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 24px;
}
.section-quiz .square .btn-confirm.disabled {
  background-color: #fff;
  color: rgba(227, 9, 9, 0.3);
}
.section-quiz .square .btn-confirm.disabled span {
  opacity: 0.6;
}
.section-quiz .square .btn-confirm.disabled .arr {
  opacity: 0.6;
}
.section-quiz .square .btn-confirm:not(.disabled):hover .arr {
  -webkit-transform: translateX(3px);
  transform: translateX(3px);
}
.section-quiz .square .btn-confirm .arr {
  width: 8px;
  position: absolute;
  right: 19px;
  top: 13px;
}
@media (min-width: 992px) {
  .section-quiz .square .btn-confirm .arr {
    right: 22px;
    top: 15px;
  }
}
@media (min-width: 992px) {
  .section-quiz .square .btn-confirm {
    width: 154px;
    height: 44px;
    padding: 0;
  }
}
.section-quiz .square .answer-block {
  width: 100%;
  height: 45px;
  position: relative;
}
@media (min-width: 992px) {
  .section-quiz .square .answer-block {
    height: 80px;
    margin-left: 20px;
  }
}
.section-quiz .square .answer-block .answer-txt {
  line-height: 1.5;
  font-size: 4vw;
}
@media (min-width: 992px) {
  .section-quiz .square .answer-block .answer-txt {
    font-size: 20px;
    display: block;
    line-height: 2;
  }
}
.section-quiz .square .answer-block .answer-line {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  background-color: #fff;
}
@media (min-width: 992px) {
  .section-quiz .result-wrap {
    height: 100%;
    position: relative;
  }
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .txt-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.section-quiz .result-wrap .result-title {
  margin-top: -61px;
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .result-title {
    margin-top: -114px;
  }
}
.section-quiz .result-wrap .result-intro {
  line-height: 1.5;
  margin-bottom: 35px;
  font-size: 4vw;
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .result-intro {
    font-size: 18px;
    width: 437px;
    text-indent: 18px;
    line-height: 1.8;
  }
}
.section-quiz .result-wrap .score-block {
  position: relative;
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .score-block {
    width: calc(100% - 437px);
  }
}
.section-quiz .result-wrap .score-block .score {
  position: absolute;
  top: -11%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  word-break: keep-all;
}
.section-quiz .result-wrap .score-block .num {
  font-size: 32vw;
  font-family: Arial;
  font-weight: bold;
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .score-block .num {
    font-size: 142px;
  }
}
.section-quiz .result-wrap .result-txt {
  text-align: center;
  line-height: 1.7;
  font-weight: bold;
  font-size: 30px;
  display: block;
  letter-spacing: 3px;
}
@media (max-width: 992px) {
  .section-quiz .result-wrap .result-txt {
    width: 100%;
    margin: 20px auto 0;
  }
}
@media (min-width: 992px) {
  .section-quiz .result-wrap .result-txt {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.section-quiz .result-redirect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
  max-width: 918px;
  margin: 0 auto;
}
.section-quiz .result-redirect img {
  width: 40px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-right: 20px;
  -webkit-animation: pointing 0.5s ease infinite alternate;
  animation: pointing 0.5s ease infinite alternate;
}
@media (min-width: 992px) {
  .section-quiz .result-redirect img {
    width: 77px;
  }
}
.section-quiz .result-redirect .btn-go-map {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  display: inline-block;
  padding: 12px 20px;
  position: relative;
  cursor: pointer;
  background-color: #fff;
  color: #000;
}
@media (min-width: 992px) {
  .section-quiz .result-redirect .btn-go-map {
    width: 270px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
  }
}
.section-news {
  background-color: #f0ce77;
  padding: 50px 0;
}
@media (min-width: 992px) {
  .section-news {
    padding: 100px 0 50px;
  }
}
.section-news .section-title {
  width: 50%;
  display: block;
  margin: 30px auto;
}
@media (min-width: 992px) {
  .section-news .section-title {
    width: 280px;
    margin: 0 auto 60px;
  }
}
.section-news .news-box {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 20px;
}
.section-news .news-box:hover .img-box {
  background-size: 105%;
}
.section-news .news-box .img-box {
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-news .news-box .title {
  color: #333;
  padding: 10px 0;
  line-height: 1.5;
  font-size: 18px;
  font-weight: bold;
}
.section-news .news-box .title-line {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin-bottom: 15px;
}
.section-news .news-box .content-txt {
  line-height: 1.8;
  color: #333;
  display: -webkit-box;
  max-width: 1000px;
  height: 144px;
  margin: 0 auto;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
body {
  background-color: #453479;
  color: #fff;
}
.section-charts {
  display: none;
}
[v-cloak] {
  display: none;
}
