* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans TC", sans-serif;
}

#app {
  overflow: hidden;
}

.tk-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.big-title {
  margin-bottom: 30px;
}
.big-title h2 {
  font-size: 20px;
  letter-spacing: 0.745em;
  border-bottom: 1px solid #000;
  padding-bottom: 6px;
  margin: 0 0 13px 0;
  font-weight: normal;
}
@media screen and (min-width: 900px) {
  .big-title h2 {
    font-size: 24px;
    border-bottom: 2px solid #000;
    padding-bottom: 13px;
    margin: 0 0 17px 0;
  }
}
.big-title h2 img {
  max-width: 100%;
}
.big-title .info {
  font-size: 16px;
  line-height: 26px;
}
@media screen and (min-width: 900px) {
  .big-title .info {
    font-size: 18px;
    line-height: 30px;
    max-width: 521px;
  }
}

#map {
  color: #454545;
  background: #f0ce77;
  padding: 50px 0;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  #map {
    padding: 100px 0;
  }
}
#map .tk-container {
  max-width: 700px;
}
#map .flex {
  position: relative;
}
@media screen and (min-width: 900px) {
  #map .flex {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
  }
}
#map .tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  #map .tabs {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-right: 30px;
    padding-top: 60px;
  }
}
#map .tabs .tab {
  margin: 0 6px 10px 6px;
  font-size: 16px;
  color: #fff;
  background: #414141;
  border-radius: 8px;
  line-height: 1;
  padding: 8px 12px;
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  #map .tabs .tab {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 0 0 30px 0;
  }
}
#map .tabs .tab.active {
  color: #f0ce77;
}
#map .note {
  color: #000;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 521px;
}
@media screen and (min-width: 900px) {
  #map .note {
    margin-bottom: 40px;
  }
}
#map .note .title {
  color: #fff;
  background: #818181;
  line-height: 16px;
  width: 53px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 4px;
}
#map .svg-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
#map .svg-wrapper .man {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 16%;
}
@media screen and (min-width: 900px) {
  #map .svg-wrapper .man {
    width: 80px;
    left: -80px;
    bottom: 150px;
  }
}
#map .svg-wrapper .legend {
  position: absolute;
  top: 50%;
  right: -3%;
  width: 21%;
}
@media screen and (min-width: 900px) {
  #map .svg-wrapper .legend {
    top: 282px;
    right: auto;
    left: -193px;
    width: 80px;
  }
}
#map svg {
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
  display: block;
  height: auto;
  background: #f0ce77;
}
@media screen and (min-width: 900px) {
  #map svg {
    max-width: none;
    margin: 0;
  }
}
#map svg path {
  transition: fill 0.2s;
}
#map .filter {
  display: flex;
  padding: 0 20px;
  margin: 0 -10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  #map .filter {
    display: none;
  }
}
#map .filter .col {
  width: 100%;
  padding: 0 10px;
}
#map .filter .select {
  width: 100%;
  background: #fff;
  position: relative;
}
#map .filter .select:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 6px 0 6px;
  border-color: #787878 transparent transparent transparent;
}
#map .filter .select select {
  display: block;
  width: 100%;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 5px 30px 5px 12px;
  color: #000;
}
#map .tk-tooltip {
  z-index: 10;
  background: #FFFFFF;
  border: 2px solid #9B9B9B;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  overflow: hidden;
  min-width: 240px;
  margin: 0 20px;
}
@media screen and (min-width: 900px) {
  #map .tk-tooltip {
    position: fixed;
    margin: 0;
  }
}
#map .tk-tooltip .inner {
  padding: 10px;
}
#map .tk-tooltip .title {
  color: #fff;
  background: #32496A;
  text-align: center;
  line-height: 40px;
  padding: 0 15px;
}
#map .tk-tooltip h3 {
  margin: 0;
  color: #3251BE;
  font-size: 20px;
  padding: 0 15px;
  text-align: center;
}
#map .tk-tooltip .tk-table {
  width: 100%;
  border-collapse: collapse;
}
#map .tk-tooltip .tk-table td {
  width: 50%;
  text-align: right;
  padding: 0 5px;
  line-height: 1.1;
}
#map .tk-tooltip .tk-table td.num1, #map .tk-tooltip .tk-table td.num2, #map .tk-tooltip .tk-table td.num3 {
  text-align: left;
  color: #3251BE;
  font-weight: 700;
  font-size: 24px;
}
#map .tk-tooltip .unit {
  background: #D9D9D9;
  text-align: center;
  line-height: 27px;
  margin-top: 10px;
}

.sec-a, .sec-b, .sec-c {
  overflow: hidden;
}
.sec-a .tk-container, .sec-b .tk-container, .sec-c .tk-container {
  max-width: 808px;
}
.sec-a .tabs, .sec-b .tabs, .sec-c .tabs {
  width: 100%;
  display: flex;
  max-width: 330px;
  margin: 0 auto;
  justify-content: center;
}
@media screen and (min-width: 900px) {
  .sec-a .tabs, .sec-b .tabs, .sec-c .tabs {
    justify-content: flex-start;
    width: 330px;
    margin: 0 0 0 auto;
  }
}
.sec-a .tabs .tab, .sec-b .tabs .tab, .sec-c .tabs .tab {
  font-size: 20px;
  position: relative;
  margin: 0 10px;
  line-height: 1;
  cursor: pointer;
  transition: color 0.2s;
  white-space: nowrap;
}
@media screen and (min-width: 380px) {
  .sec-a .tabs .tab, .sec-b .tabs .tab, .sec-c .tabs .tab {
    font-size: 28px;
    margin: 0 32px 0 0;
  }
}
.sec-a .tabs .tab:hover, .sec-a .tabs .tab.active, .sec-b .tabs .tab:hover, .sec-b .tabs .tab.active, .sec-c .tabs .tab:hover, .sec-c .tabs .tab.active {
  color: #FFF500;
}
.sec-a .tabs .tab:after, .sec-b .tabs .tab:after, .sec-c .tabs .tab:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 1px;
  height: 100%;
  background: #454545;
}
@media screen and (min-width: 380px) {
  .sec-a .tabs .tab:after, .sec-b .tabs .tab:after, .sec-c .tabs .tab:after {
    right: -16px;
  }
}
.sec-a .tabs .tab:last-child:after, .sec-b .tabs .tab:last-child:after, .sec-c .tabs .tab:last-child:after {
  display: none;
}

.sec-title {
  width: 100%;
  display: block;
  max-width: 362px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
  border-radius: 0 4px 4px 0px;
}
.sec-title img {
  width: 100%;
  min-width: 356px;
  display: block;
}
.sec-title .man {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55px;
  min-width: unset;
}
@media screen and (min-width: 900px) {
  .sec-title .man {
    width: 88px;
  }
}
.sec-title div {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translate(0, -50%);
  font-size: 18px;
}
.sec-title div span {
  font-size: 32px;
  margin-right: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sec-desc {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .sec-desc {
    width: 362px;
  }
}
.sec-desc .text {
  margin-bottom: 15px;
}
@media screen and (min-width: 900px) {
  .sec-desc .text {
    width: 330px;
    margin: 0 0 0 auto;
    margin-bottom: 15px;
  }
}

.sec-a {
  background: #a3d386;
  color: #454545;
  padding: 50px 0;
}
@media screen and (min-width: 900px) {
  .sec-a {
    padding: 100px 0;
  }
}
.sec-a .content {
  max-width: 731px;
  margin: 0 auto;
  margin-top: 80px;
}
@media screen and (min-width: 900px) {
  .sec-a .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 900px) {
  .sec-a .chart-wrapper {
    width: 300px;
  }
}
.sec-a svg {
  max-width: 320px;
  display: block;
  margin: 0 auto;
}

.sec-b {
  background: #c2e5ad;
  color: #454545;
  padding: 70px 0 40px 0;
}
@media screen and (min-width: 900px) {
  .sec-b {
    padding: 150px 0 100px 0;
  }
}
.sec-b .content {
  max-width: 731px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .sec-b .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 900px) {
  .sec-b .sec-desc .text {
    min-height: 88px;
    width: 270px;
  }
}
@media screen and (min-width: 900px) {
  .sec-b .tabs {
    width: 270px;
  }
}
.sec-b .tabs .tab:hover, .sec-b .tabs .tab.active {
  color: #00A3FF;
}
.sec-b .chart-wrapper {
  position: relative;
}
@media screen and (min-width: 900px) {
  .sec-b .chart-wrapper {
    width: 200px;
  }
  .sec-b .chart-wrapper > div {
    position: absolute;
    top: -60px;
    left: 0;
    width: 440px;
  }
}
.sec-b svg {
  max-width: 320px;
  display: block;
  margin: 0 auto;
}
.sec-b .a {
  position: absolute;
  top: calc((100vw - 30px) * 0.15);
  right: calc((100vw - 30px) * 0.14);
  color: #000;
  font-size: calc((100vw - 30px) * 0.03);
}
@media screen and (min-width: 560px) {
  .sec-b .a {
    top: 80px;
    right: 73px;
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  .sec-b .a {
    top: 80px;
    right: 73px;
    font-size: 14px;
  }
}
.sec-b .b {
  position: absolute;
  top: calc((100vw - 30px) * 0.22);
  right: calc((100vw - 30px) * 0.14);
  color: #000;
  font-size: calc((100vw - 30px) * 0.03);
}
@media screen and (min-width: 560px) {
  .sec-b .b {
    top: 116px;
    right: 73px;
    font-size: 16px;
  }
}
@media screen and (min-width: 900px) {
  .sec-b .b {
    top: 108px;
    right: 73px;
    font-size: 14px;
  }
}
.sec-b .y-unit {
  position: absolute;
  top: -5%;
  left: 0;
  font-size: 2vw;
  color: #000;
}
@media screen and (min-width: 560px) {
  .sec-b .y-unit {
    top: -22px;
    left: 0;
    font-size: 12px;
  }
}
.sec-b .legend {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6%;
  left: 14%;
}
.sec-b .legend .item {
  margin-right: 5vw;
  display: flex;
  align-items: center;
  line-height: 1em;
  font-size: 3vw;
}
@media screen and (min-width: 560px) {
  .sec-b .legend .item {
    margin-right: 20px;
    font-size: 14px;
  }
}
.sec-b .legend .item .rect {
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
}
@media screen and (min-width: 560px) {
  .sec-b .legend .item .rect {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }
}

.sec-c {
  background: #a3d386;
  color: #454545;
  padding: 70px 0 40px 0;
}
@media screen and (min-width: 900px) {
  .sec-c {
    padding: 150px 0 140px 0;
  }
}
.sec-c .content {
  max-width: 731px;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .sec-c .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 900px) {
  .sec-c .sec-desc .text {
    width: 260px;
  }
}
@media screen and (min-width: 900px) {
  .sec-c .tabs {
    position: absolute;
    left: 101px;
  }
}
.sec-c .chart-wrapper {
  position: relative;
}
@media screen and (min-width: 900px) {
  .sec-c .chart-wrapper {
    width: 200px;
    z-index: 2;
  }
  .sec-c .chart-wrapper > div {
    position: absolute;
    top: 50px;
    left: 0;
    width: 440px;
  }
}
.sec-c svg {
  max-width: 320px;
  display: block;
  margin: 0 auto;
}
.sec-c .edu-tab {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.sec-c .edu-tab .tab {
  cursor: pointer;
  margin: 0 10px;
}
.sec-c .edu-tab .tab.active {
  color: #FFF500;
}
.sec-c .legend {
  display: flex;
  align-items: center;
  position: absolute;
  top: -2%;
  left: 14%;
}
@media screen and (min-width: 560px) {
  .sec-c .legend {
    top: 0;
  }
}
@media screen and (min-width: 900px) {
  .sec-c .legend {
    top: -20px;
  }
}
.sec-c .legend .item {
  margin-right: 5vw;
  display: flex;
  align-items: center;
  line-height: 1em;
  font-size: 3vw;
}
@media screen and (min-width: 560px) {
  .sec-c .legend .item {
    margin-right: 20px;
    font-size: 14px;
  }
}
.sec-c .legend .item .rect {
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
}
@media screen and (min-width: 560px) {
  .sec-c .legend .item .rect {
    width: 13px;
    height: 13px;
    margin-right: 10px;
  }
}/*# sourceMappingURL=style.css.map */